.container{
    border: 2px solid salmon;
    height: 300px;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}
.box{

    border: 2px solid salmon;
    width: 70px;
    height: 70px;
}