*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* button */
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* main Style */
header{
    border: 1px solid red;
    background-color: #FFF8F3;
    background: url(/m-1m-5/hero-dev-code/images/developer.png), url(/m-1m-5/hero-dev-code/images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 51px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orenge{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 580px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .banner-image{
    max-width: 585px;
    vertical-align:middle;
}

/* About Section */

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 70%;
    max-width: 1140px;
    background-color: rgb(248, 236, 222);
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}

#about .about-container .abot-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about .about-container .abot-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .abot-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
}

/* Skills */

#skills{
    padding-top: 130px;
}

#skills .skills-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#skills .skills-container .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000010;
}

#skills .skills-container .skill-box .skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}

#skills .skills-container .skill-box .skill-card h4{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

#skills .skills-container .skill-box .skill-card p{
    font-size: 16px;
    color: #757575;
}

/* Resume */

#resume{
    padding-top: 130px
}

#resume .section-heading{
    margin-bottom: 113px;
}

#resume .resume-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

#resume .resume-container hr{
    margin: 30px 0;
}

#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#resume .resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;
}

#resume .resume-container .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

#resume .resume-container .resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #696767;
}

#resume .resume-container .resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .btn-center{
    text-align: center;
}

/* Footer */

footer{
    background-color:  rgb(248, 236, 222);
    margin-top: 113px;
    padding: 130px 0;
}

footer .footer-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

footer .footer-container .social{
    max-width: 562px;
}

footer .footer-container .social h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 22px;
}

footer .footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 28px;
}

footer .footer-container .social .icons a{
    margin-right: 24px;
}

footer .footer-container .form h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 22px;
}

footer .footer-container .form input[type="text"],
footer .footer-container .form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    color: #757575;
}